// COLORS

// CTA text
$ctared: hsl(356, 100%, 66%);
// CTA hover background
$ctalred: hsl(355, 100%, 74%);
// heading 
$drkblue:hsl(208, 49%, 24%);

// text
$white:  hsl(0, 0%, 100%);
// for footer
$gblue: hsl(240, 2%, 79%);
// body copy
$drkgblue: hsl(207, 13%, 34%);  
// footer bg 
$blblue: hsl(240, 10%, 16%);

// gradients
$grad1: hsl(13, 100%, 72%);
$grad2:hsl(353, 100%, 62%);

$grad3:hsl(237, 17%, 21%);
$grad4:hsl(237, 23%, 32%);


// FONT SIZE
$font1: 16px;
$ubuntu:'Ubuntu', sans-serif;
$overpass: 'Overpass', sans-serif;